<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecao - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Selecao</div>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}" class="active">About</a></li>
                <li><a href="{{ url_for('analysis') }}">Analysis</a></li>
                <li><a href="{{ url_for('prediction') }}">Prediction</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about-section">
            <h2>About</h2>
            <p>Rice crop monitoring and analysis involves the use of modern technologies and methods to track and analyze the growth, health, and yield of rice crops...</p>
            <p>Rice is a staple food crop for different countries. The production of staple crop will reflect the situations prevailing in the country like famine or flood. This dataset captures production of rice,along with unit of measure (Tonnes) and collected data source (official or estimated).</p>
            
        </section>
    </main>
</body>
</html>
